body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  margin: 0;
}

p {
  --font-size-min: 2rem;
  --font-size-max: 7vw;

  margin: 0;

  font-size: var(--font-size-min);
  font-size: clamp(var(--font-size-min), var(--font-size-max), var(--font-size-max));
  text-align: center;
  font-weight: bold;

  color: #000;
  -webkit-text-fill-color: #000;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #FFF;
  user-select: none;
}
